@import "../../../../styles/_vars";

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;

  .controlsContainer {
    padding: $sizing-sm 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    select {
      appearance: none;
      border: 1px solid $light-grey;
      border-radius: 0;
      background-color: white;
      font-size: $font-size-xs;
      color: $soft-black;
      font-weight: 300;
      min-width: 50px;
      padding: $sizing-sm $sizing-xs;
      margin-right: $sizing-sm;
      text-align-last: center;

      @include min-size-md {
        width: 140px;
        padding: $sizing-sm $sizing-lg;
        margin-right: $sizing-md;
        font-size: $font-size-md;
      }

      &:not(:disabled) {
        cursor: pointer;
      }
      &:disabled {
        background-color: #f4f4f4;
        color: $medium-grey;
      }
      &:focus {
        outline: none;
      }
      * {
        text-align: center;
      }
    }

    > div:last-child {
      text-align: right;

      @include min-size-md {
        font-size: $font-size-xl;
      }

      > div:first-child {
        font-size: $font-size-2xs;
        @include min-size-md {
          font-size: $font-size-sm;
        }
      }
    }
  }

  .daysContainer {
    display: flex;
    border-top: 1px solid $lightest-grey;
    border-bottom: 1px solid $lightest-grey;
    padding: $sizing-sm 0;

    @include min-size-md {
      padding: $sizing-lg;
    }

    > div {
      flex: 1;
      text-align: center;
      justify-content: center;
      font-size: 0;

      &::first-letter {
        font-size: $font-size-2xs;
      }

      @include min-size-md {
        display: flex;
        align-items: center;
        font-size: $font-size-sm;
      }
    }
  }
}
