.github-embed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.3;
  padding: 20px;
  img {
    border-radius: 100%;
    height: 115px;
    width: 115px;
  }
  > div {
    width: 75%;
    small:first-of-type {
      margin-top: $sizing-xs;
    }
  }
  a {
    text-decoration: none;
    font-weight: 500;
    color: $soft-black;
  }
  svg {
    width: 32px;
    height: 32px;
  }
}
