@import "../../styles/_vars";

.header {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin: $sizing-lg auto;
  width: $embed-size;

  @include min-size-md {
    margin: $sizing-xl auto $sizing-lg auto;
    width: calc(2 * (#{$embed-size} + #{$sizing-sm}));
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: $font-size-2xl;
      margin-bottom: $sizing-xs !important;
      @include min-size-md {
        font-size: $font-size-3xl;
      }
    }

    p {
      font-size: $font-size-sm;
      line-height: 1.25;
      @include min-size-md {
        font-size: $font-size-md;
      }
    }
  }
}

.main {
  margin: 0 auto;
  flex-grow: 1;
}
