@import "./_vars";

* {
  box-sizing: border-box;
}
html,
body,
#__next {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  color: $soft-black;
  font-weight: 300;
  font-family: Helvetica Neue, "nimbus-sans", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;

  h1,
  b {
    font-weight: 400;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
  }
  h1 {
    margin: 0;
  }
}
