.storygraph-embed {
  overflow: hidden;

  > div {
    padding: $embed-padding;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 20%;
  }

  ul {
    margin: 0;
    padding: 0 $embed-padding $embed-padding;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 80%;

    li {
      margin-bottom: $sizing-md;
      display: flex;

      &:last-child {
        margin-bottom: 0;
      }

        img {
          height: $sizing-5xl;
          width: $sizing-5xl;
          min-width: $sizing-5xl;
          min-height: $sizing-5xl;
          border-radius: $sizing-xs;
          object-fit: cover;
        }
        > div {
          margin-left: $sizing-md;
          display: flex;
          flex-direction: column;
          > div {
            line-height: 1.25;
          }
          > small {
            font-weight: 300;
            font-size: $font-size-sm;
          }
        }
    }
  }
}
