// Colors
$lightest-grey: #ededed;
$light-grey: #c0c0c0;
$medium-grey: #808080;
$dark-grey: #696969;
$soft-black: #323232;
$green: #97ead0;

// Font Sizes
$font-size-3xs: 9px;
$font-size-2xs: 10px;
$font-size-xs: 11px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 32px;
$font-size-4xl: 40px;
$font-size-5xl: 48px;
$font-size-6xl: 56px;

// Sizing
$sizing-3xs: 1px;
$sizing-2xs: 2px;
$sizing-xs: 4px;
$sizing-sm: 8px;
$sizing-md: 12px;
$sizing-lg: 16px;
$sizing-xl: 24px;
$sizing-2xl: 32px;
$sizing-3xl: 40px;
$sizing-4xl: 48px;
$sizing-5xl: 56px;
$sizing-6xl: 64px;
$sizing-7xl: 72px;

// Embed
$embed-size: 300px;

// Z-Indexes
// list of front to back positives, e.g Infinity to 1
$z-indexes-front: ();
// list of front to back negatives, e.g. -1 to -Infinity
$z-indexes-back: ("bubbles", "fish");
@function z($name) {
  @if index($z-indexes-front, $name) {
    @return (length($z-indexes-front) - index($z-indexes-front, $name)) + 1;
  } @else if index($z-indexes-back, $name) {
    @return index($z-indexes-back, $name) * -1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes-front} or #{$z-indexes-back}';
    @return null;
  }
}

// Responsive Media Queries
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-xl: 1280px;

@mixin min-size-sm {
  @media screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}
@mixin min-size-md {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}
@mixin min-size-lg {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}
@mixin min-size-xl {
  @media screen and (min-width: $breakpoint-desktop-xl) {
    @content;
  }
}
