* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#__next {
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: $soft-black;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
#__next {
  padding: $sizing-sm;
}
body {
  small {
    font-weight: 300;
    font-size: $font-size-sm;
    display: block;
  }
  button {
    color: $soft-black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
  a,
  a:visited {
    &:not(.profile-badge__cta-btn) {
      color: unset;
      text-decoration: none;

      &:hover,
      &:active {
        color: $light-grey;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  select {
    font-family: Helvetica, Arial, sans-serif;
  }
}

// TODO: figure out why this doesn't work in linkedin embed module
.linkedin-embed {
  overflow: hidden;

  .sr-only {
    display: none;
  }

  .profile-badge {
    width: 75%;
    height: 100%;
    padding: $embed-padding;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .profile-badge__header {
      display: flex;
      justify-content: center;
      icon {
        color: #0a66c2;
        display: inline-block;
        svg {
          height: 20px;
        }
      }
    }
    .profile-badge__content {
      .profile-badge__content-profile-image {
        // hide because linkedin and github profile images are the same
        display: none;
      }
      h3 {
        margin-bottom: $sizing-xs;
        // text-align: center;
      }
      h4 {
        font-weight: 300;
        font-size: $font-size-sm;
        margin-bottom: $sizing-xs;
      }
    }
    .profile-badge__cta-btn {
      display: inline-block;
      margin: 0 auto;
      padding: $sizing-sm $sizing-lg;
      color: #0a66c2;
      border: 1px solid #0a66c2;
      border-radius: $sizing-xl;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: rgba(112, 181, 249, 0.15);
      }
    }
  }
}
