* {
  box-sizing: border-box;
}
html,
body,
#__next {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  color: $soft-black;
  font-weight: 300;
  font-family: Helvetica Neue, "nimbus-sans", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 300;
    margin: 0;
  }
  small {
    font-weight: 300;
    font-size: $font-size-sm;
  }
  button {
    font-weight: 300;
    color: $soft-black;
  }
  b,
  a {
    font-weight: 400;
  }
  a,
  a:visited {
    &:not(.profile-badge__cta-btn) {
      color: $soft-black;
      text-decoration: none;

      &:hover,
      &:active {
        color: $light-grey;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  select {
    font-family: Helvetica Neue, "nimbus-sans", Helvetica, Arial, sans-serif;
  }
}
#__next {
  padding: $sizing-sm;
}

// TODO: figure out why this doesn't work in linkedin embed module
.linkedin-embed {
  overflow: hidden;

  .profile-badge {
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-left: 0;
    width: 100%;
    height: 100%;

    [class^="profile-badge"] {
      padding-bottom: 0;
    }
    .profile-badge__header {
      background-color: transparent;
      padding: 20px 16px;
    }
    .profile-badge__content-profile-image {
      margin: 0 0 8px 0;
    }
    .profile-badge__cta-btn {
      margin-top: 12px;
    }
    .profile-badge__content-profile-name-link {
      font-weight: 400;
    }
    .profile-badge__cta-btn.profile-badge__cta-btn--light:hover {
      box-shadow: inset 0 0 0 1px #0a66c2;
    }
  }
}
