@import "../styles/_vars.scss";

.embeds {
  display: flex;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: column;
    @include min-size-md {
      justify-content: flex-start;
      flex-basis: calc((2 * #{$embed-size}) + (4 * #{$sizing-sm}));
      flex-direction: row;
      flex-wrap: wrap;
    }

    [class*="-embed"] {
      margin: $sizing-sm;
      width: $embed-size;
      height: $embed-size;
      border: 1px solid $light-grey;
      border-radius: 15px;
      font-size: $font-size-md;
    }
  }
}
