@import "../../../styles/vars";

.trainingLog {
  width: 100%;

  @include min-size-md {
    padding: 0 $sizing-xl;
  }

  .header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

    .controlsContainer {
      padding: $sizing-sm 0;
      display: flex;
      justify-content: space-between;

      @include min-size-md {
        padding: $sizing-lg 0;
      }

      select {
        appearance: none;
        border: 1px solid $light-grey;
        border-radius: 0;
        background-color: white;
        font-size: $font-size-xs;
        color: $soft-black;
        font-weight: 300;
        cursor: pointer;
        min-width: 50px;
        padding: $sizing-sm $sizing-xs;
        margin-right: $sizing-sm;
        text-align-last: center;

        @include min-size-md {
          width: 140px;
          padding: $sizing-sm $sizing-lg;
          margin-right: $sizing-lg;
          font-size: $font-size-md;
          text-align-last: left;
        }

        &:focus {
          outline: none;
        }
        * {
          text-align: center;
        }
      }

      > div:last-child {
        display: flex;
        align-items: center;
      }
    }

    .daysContainer {
      display: flex;
      border-top: 1px solid $lightest-grey;
      border-bottom: 1px solid $lightest-grey;
      padding: $sizing-sm 0;

      @include min-size-md {
        padding: $sizing-lg;
      }

      > div {
        flex: 1;
        text-align: center;
        font-size: 0;

        &::first-letter {
          font-size: $font-size-xs;
        }

        @include min-size-md {
          display: flex;
          align-items: center;
          font-size: $font-size-lg;
        }

        &:not(:first-child) {
          justify-content: center;

          @include min-size-md {
            font-size: $font-size-sm;
          }
        }

        &:first-child {
          display: none;

          @include min-size-md {
            display: flex;
          }
        }
      }
    }
  }

  .week {
    position: relative;
    display: flex;
    border-bottom: 1px solid $lightest-grey;
    padding: $sizing-sm 0;
    height: 95px;

    @include min-size-md {
      padding: $sizing-md;
      height: 145px;
    }

    > div {
      flex: 1 1 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:not(:first-child) {
        text-align: center;
        padding: $sizing-lg 0;
        @include min-size-md {
          padding: 0;
        }
      }

      &:first-child {
        position: absolute;
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        font-size: $font-size-sm;
        padding: 6px $sizing-xs;

        .totalContainer small {
          display: none;
        }

        @include min-size-md {
          position: unset;
          flex-direction: column;
          font-size: unset;
          padding: 0;

          .totalContainer {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            small {
              display: block;
            }
          }
        }
      }

      .displayUnitContainer {
        // flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .totalContainer {
        > small {
          margin-bottom: $sizing-xs;
        }
      }
    }

    .day {
      position: relative;

      &:first-child {
        display: none;
        @include min-size-md {
          display: flex;
        }
      }

      .displayUnit {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        background-color: $lightest-grey;
        width: 25px;
        height: 25px;
        font-size: $font-size-xs !important;

        @include min-size-md {
          width: 40px;
          height: 40px;
          font-size: $font-size-sm !important;
        }

        span {
          display: none;
          @include min-size-md {
            display: inline;
          }
        }
      }

      .activityName {
        display: none;
        @include min-size-md {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          line-height: 1.25;
        }
      }
      &.today .activityName {
        bottom: $sizing-lg;
      }

      &.dayPlaceholder::before {
        content: " ";
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: $light-grey;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        @include min-size-md {
          height: 5px;
          width: 5px;
        }
      }

      &.today::after {
        content: " ";
        height: 0;
        width: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 8px solid $medium-grey;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .loadMoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $sizing-lg 0;
    button {
      padding: $sizing-md;
      border: 1px solid $light-grey;
      border-radius: 0;
      background-color: white;
      cursor: pointer;
    }
  }
}
