@import "./_vars";

main.about {
  .iframes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    iframe,
    .profile-badge {
      margin: $sizing-XL 0 0 $sizing-LG;
      width: 200px;
      height: 200px;
      border-radius: 0;
      overflow: scroll;
      @include size-min-tablet {
        width: 275px;
        height: 275px;
      }
    }
  }
  /* linkedin stylesheet is stupid */
  h1,
  p {
    font-size: revert;
    font-weight: revert;
    color: revert;
    line-height: normal !important;
    margin: revert;
  }
}
