@import "./_vars";

main.about {
  .embeds {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .spotify-embed,
    .strava-embed,
    .linkedin-embed .profile-badge,
    .pinterest-embed,
    .pinterest-embed-sm,
    .goodreads-embed {
      margin: $sizing-XL 0 0 $sizing-LG;
      width: 200px;
      height: 200px;
      border: 2px solid $light-grey;
      border-radius: 15px;
      overflow-y: scroll;
      @include size-min-tablet {
        width: 275px;
        height: 275px;
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      opacity: 0;
      animation: fadeIn 2s forwards;
    }
    .spotify-embed {
      animation-delay: 1s;
    }
    .strava-embed {
      animation-delay: 0s;
    }
    .linkedin-embed .profile-badge {
      animation-delay: 1s;
    }
    .pinterest-embed {
      display: none;

      @include size-min-tablet {
        display: block;
        animation-delay: 0.5s;
        span {
          border: none;
          background: none;
        }
      }
    }
    .pinterest-embed-sm {
      animation-delay: 0.5s;
      span {
        border: none;
        background: none;
      }
      @include size-min-tablet {
        display: none;
      }
    }
    .goodreads-embed {
      animation-delay: 1.5s;
      padding: $sizing-XS;
      .logo img {
        width: 100px;
        margin: $sizing-MD $sizing-SM $sizing-SM;
      }
      .gr_grid_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .gr_grid_book_container {
          img {
            border-radius: 8px;
            width: 58px;
            @include size-min-tablet {
              width: 80px;
            }
          }
        }
        .gr_grid_branding,
        br {
          display: none;
        }
      }
    }
  }
  /* linkedin stylesheet is stupid */
  h1,
  h2,
  p {
    font-size: revert;
    font-weight: revert;
    color: revert;
    line-height: normal !important;
    margin: revert;
  }
}
