@import "./_vars";

$embed-size-sm: 200px;
$embed-size-lg: 350px;

main.about {
  .embeds-wrapper {
    display: flex;
    justify-content: flex-end;
    .embeds {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @include min-size-xl {
        justify-content: flex-start;
        flex-basis: calc(2 * (#{$embed-size-lg} + #{$sizing-lg}));
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    [class*="-embed"] {
      margin: $sizing-lg 0 0 $sizing-lg;
      width: $embed-size-sm;
      height: $embed-size-sm;
      border: 2px solid $light-grey;
      border-radius: 15px;
      overflow-y: scroll;
      overflow-x: hidden;
      @include min-size-sm {
        width: $embed-size-lg;
        height: $embed-size-lg;
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      opacity: 0;
      animation: fadeIn 2s forwards;
      &:nth-child(1) {
        animation-delay: 1s;
      }
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0s;
      }
      &:nth-child(4) {
        animation-delay: 0.5s;
      }
      &:nth-child(5) {
        animation-delay: 0.8s;
      }
    }
    .pinterest-embed-sm span,
    .pinterest-embed-lg span {
      border: none;
      background: none;
    }
    .pinterest-embed-sm {
      @include min-size-sm {
        display: none;
      }
    }
    .pinterest-embed-lg {
      display: none;
      @include min-size-sm {
        display: block;
      }
    }
    .linkedin-embed {
      & > div {
        width: 100%;
        @include min-size-sm {
          height: 100%;
        }
      }
      .profile-badge {
        overflow-y: scroll;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        @include min-size-sm {
          height: 100%;
        }
        .profile-badge__cta-btn {
          margin-top: auto;
        }
      }
      .badge-base__link {
        display: none;
      }
    }
  }
}
