@import "./_vars";

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: z("bubbles");

  .bubble {
    position: absolute;
    border-radius: 100%;
    border: 1px solid $light-grey;
    transform: translateY(100vh);

    @keyframes rise {
      to {
        transform: translateY(-100vh);
      }
    }
    @keyframes wobbleA {
      0% {
        margin-left: 0;
      }
      50% {
        margin-left: 12px;
      }
      100% {
        margin-left: 0;
      }
    }
    @keyframes wobbleB {
      0% {
        margin-left: 0;
      }
      45% {
        margin-left: 8px;
      }
      100% {
        margin-left: 0;
      }
    }
    @keyframes wobbleC {
      0% {
        margin-left: 0;
      }
      40% {
        margin-left: 10px;
      }
      100% {
        margin-left: 0;
      }
    }

    // Group 1
    &:nth-child(12n) {
      animation: wobbleA 5s ease-in-out infinite, rise 32s linear infinite;
    }
    &:nth-child(12n + 1) {
      animation: wobbleB 5s ease-in-out 0.7s infinite, rise 28s linear infinite;
    }
    &:nth-child(12n + 2) {
      animation: wobbleC 5s ease-in-out 1.5s infinite, rise 32s linear infinite;
    }
    // Group 2
    &:nth-child(12n + 3) {
      animation: wobbleA 5s ease-in-out infinite, rise 32s linear 8s infinite;
    }
    &:nth-child(12n + 4) {
      animation: wobbleB 5s ease-in-out 0.5s infinite,
        rise 28s linear 8s infinite;
    }
    &:nth-child(12n + 5) {
      animation: wobbleC 5s ease-in-out 1s infinite, rise 32s linear 8s infinite;
    }
    // Group 3
    &:nth-child(12n + 6) {
      animation: wobbleA 5s ease-in-out infinite, rise 32s linear 16s infinite;
    }
    &:nth-child(12n + 7) {
      animation: wobbleB 5s ease-in-out 0.5s infinite,
        rise 28s linear 16s infinite;
    }
    &:nth-child(12n + 8) {
      animation: wobbleC 5s ease-in-out 1s infinite,
        rise 32s linear 16s infinite;
    }
    // Group 4
    &:nth-child(12n + 9) {
      animation: wobbleA 5s ease-in-out infinite, rise 32s linear 25s infinite;
    }
    &:nth-child(12n + 10) {
      animation: wobbleB 5s ease-in-out 0.5s infinite,
        rise 28s linear 25s infinite;
    }
    &:nth-child(12n + 11) {
      animation: wobbleC 5s ease-in-out 1s infinite,
        rise 32s linear 25s infinite;
    }
  }

  .fish {
    position: absolute;
    top: 75%;
    left: -100px;
    transform: rotate(90deg);
    z-index: z("fish");

    @keyframes wave {
      0% {
        margin-top: 0;
      }
      50% {
        margin-top: 50px;
      }
      100% {
        margin-top: 0;
      }
    }
    @keyframes rotate {
      0% {
        transform: rotate(90deg);
      }
      25% {
        transform: rotate(130deg);
      }
      50% {
        transform: rotate(90deg);
      }
      75% {
        transform: rotate(50deg);
      }
      100% {
        transform: rotate(90deg);
      }
    }
    @keyframes swim {
      to {
        left: calc(100% + 100px);
      }
    }
    animation: wave 5s cubic-bezier(0.5, 0, 0.5, 1) infinite,
      rotate 5s linear infinite, swim 20s linear infinite;

    .body {
      border-radius: 100%;
      height: 30px;
      width: 30px;
      background-color: $dark-grey;
      margin-bottom: -2px;
    }
    .tail {
      border-color: transparent transparent $dark-grey transparent;
      border-style: solid;
      border-width: 0 15px 15px 15px;
      height: 0px;
      width: 0px;
      transform-origin: top;

      @keyframes tail {
        0% {
          transform: rotateX(0);
        }
        25% {
          transform: rotateX(45deg);
        }
        50% {
          transform: rotateX(0);
        }
        75% {
          transform: rotateX(-45deg);
        }
        100% {
          transform: rotateX(0);
        }
      }
      animation: tail 0.7s linear infinite;
    }
  }
}
