@import "./_vars";
@import "./Footer";
@import "./Nav";

* {
  box-sizing: border-box;
}
html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  color: $soft-black;
  font-weight: 300;
  font-family: Helvetica Neue, "nimbus-sans", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;

  main {
    width: 60vw;
    margin: 0 $sizing-4XL 0 auto;
    @include size-min-tablet {
      margin: 0 auto;
    }
    @include size-min-desktop {
      width: 50vw;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b {
      font-weight: 400;
    }

    a {
      color: $soft-black;
      font-weight: 400;
      text-decoration: none;
      &:hover,
      &:active {
        color: $light-grey;
        text-decoration: none;
      }
    }

    header {
      text-align: right;
      margin-top: $sizing-6XL;
    }
  }

  @include Nav;
  @include Footer;
}
