@import "./_vars";

@mixin LinkList {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 20% 0;
    text-align: right;
    @include size-min-desktop {
      margin: 20% auto;
    }

    li {
      margin: $sizing-XL 0;

      a {
        color: $soft-black;
        font-weight: 400;
        text-decoration: none;
        &:hover,
        &:active {
          color: $light-grey;
          text-decoration: none;
        }
      }
    }
  }
}
