@import "./_vars";

@mixin Nav {
  nav {
    display: flex;
    a {
      font-size: $font-size-sm;
      @include min-size-md {
        font-size: $font-size-xs;
      }
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: $soft-black;
      margin: $sizing-xs;
      white-space: nowrap;
      position: relative;
      width: $sizing-7xl;
      height: $sizing-7xl;
      @include min-size-md {
        width: $sizing-6xl;
        height: $sizing-6xl;
      }
      border: $sizing-3xs solid $soft-black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-12deg);
      background-color: white;

      &:after {
        content: "";
        bottom: -5px;
        left: 15%;
        width: 0;
        height: $sizing-2xs;
        position: absolute;
        background-color: $light-grey;
        transition: width 0.5s ease 0.1s, background-color 0.8s;
      }
      &.active:after {
        @keyframes fadeInAnimation {
          from {
            width: 0;
          }
          to {
            width: 70%;
          }
        }
        background-color: $soft-black;
        animation: fadeInAnimation 0.5s ease 0.5s;
        animation-fill-mode: forwards;
      }
      &:hover:after {
        background-color: $light-grey;
      }
      &:hover:not(.active):after {
        width: 70%;
      }
    }
  }
}
