@import "./_vars";

@mixin Nav {
  nav {
    position: fixed;
    width: 80px;
    @include size-min-tablet {
      margin: $sizing-5XL;
    }
    @include size-min-desktop {
      margin: $sizing-7XL;
    }

    a {
      font-size: $font-size-XS;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: $soft-black;
      margin: $sizing-MD;
      white-space: nowrap;
      position: relative;
      width: $sizing-6XL;
      height: $sizing-6XL;
      border: $sizing-3XS solid $soft-black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-12deg);
      background-color: white;

      &:after {
        content: "";
        bottom: -5px;
        left: 15%;
        width: 0;
        height: $sizing-2XS;
        position: absolute;
        background-color: $light-grey;
        transition: width 0.5s ease 0.1s, background-color 0.8s;
      }
      &.active:after {
        @keyframes fadeInAnimation {
          0% {
            width: 0;
          }
          100% {
            width: 70%;
          }
        }
        background-color: $soft-black;
        animation: fadeInAnimation 0.5s ease 0.5s;
        animation-fill-mode: forwards;
      }
      &:hover:after {
        background-color: $light-grey;
      }
      &:hover:not(.active):after {
        width: 70%;
      }
    }
  }
}
