.subtitle {
  font-weight: 300;
  margin-top: 6px;
  b {
    font-weight: 400;
  }
}

.embeds {
  display: flex;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: column;
    @include min-size-md {
      justify-content: flex-start;
      flex-basis: calc((2 * #{$embed-size}) + (4 * #{$sizing-sm}));
      flex-direction: row;
      flex-wrap: wrap;
    }

    [class*="-embed"] {
      margin: $sizing-sm 0;
      width: $embed-size;
      height: $embed-size;
      border: 1px solid $light-grey;
      border-radius: 15px;
      font-size: $font-size-md;

      @include min-size-md {
        margin: $sizing-sm;
      }
    }
  }
}
