.nav {
  display: flex;

  a {
    font-size: $font-size-xs;
    text-decoration: none;
    text-transform: uppercase;
    color: $soft-black;
    margin-right: 6px;
    white-space: nowrap;
    position: relative;
    width: 68px;
    height: 68px;
    border: $sizing-3xs solid $light-grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-12deg);

    &:after {
      content: "";
      bottom: -5px;
      left: 25%;
      width: 0;
      height: $sizing-3xs;
      position: absolute;
      background-color: $light-grey;
      transition: width 0.5s ease 0.2s;
    }
    &[class="active"]:after {
      width: 50%;
    }
  }
}
