@import "../../styles/vars";

.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;

  li {
    padding: $sizing-sm;
    transition: transform 0.4s ease 0.1s;

    &.github a path {
      fill: none;
      stroke: $soft-black;
      stroke-width: $sizing-sm;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $sizing-3xl;
      width: $sizing-3xl;
      padding: $sizing-xs;

      path {
        fill: $soft-black;
        transition: fill 0.4s ease 0.1s;
      }
    }
    &:hover,
    &:active,
    &:focus {
      transform: scale(1.2);

      path {
        fill: $light-grey;
      }
      &.github path {
        stroke: $light-grey;
        fill: none;
        stroke-width: $sizing-sm;
      }
    }
  }
}
