@mixin button {
  padding: $sizing-2xs;
  border: 1px solid $green;
  background-color: white;
  border-radius: 0;
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase;

  &:hover {
    color: $light-grey;
  }
}

.chartNavigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: $sizing-sm;

  button {
    @include button;
    width: 50px;
  }
}
