.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;

  .controlsContainer {
    padding: $sizing-sm 0;
    display: flex;
    justify-content: space-between;

    select {
      appearance: none;
      border: 1px solid $light-grey;
      border-radius: 0;
      background-color: white;
      font-size: $font-size-xs;
      color: $soft-black;
      font-weight: 300;
      width: 70px;
      padding: $sizing-sm $sizing-xs;
      margin-right: $sizing-sm;
      text-align-last: center;

      @include min-size-md {
        width: 140px;
        padding: $sizing-sm $sizing-lg;
        margin: 0 $sizing-md $sizing-md 0;
        font-size: $font-size-md;
      }

      &:not(:disabled) {
        cursor: pointer;
      }
      &:disabled {
        background-color: #f4f4f4;
        color: $medium-grey;
      }
      &:focus {
        outline: none;
      }
      * {
        text-align: center;
      }
    }

    > div:last-child {
      text-align: right;
      min-width: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include min-size-md {
        font-size: $font-size-xl;
      }

      > div:first-child {
        font-size: $font-size-2xs;
        @include min-size-md {
          font-size: $font-size-sm;
        }
      }
    }
  }
}
