@import "../../../styles/vars";
@import "~mathsass/dist/_math.scss";

$ringCount: 15;
$size: 0.25em;
$speed: 18s;
$degStart: 360deg;
$degEnd: 0deg;

@mixin rotation {
  from {
    @include rotate($degStart);
  }
  to {
    @include rotate($degEnd);
  }
}

.dots {
  margin-left: auto;

  [class="rings"] {
    position: absolute;
    top: 50%;
    left: 50%;
    @include animation-fadein(4s);
  }
  [class="ring"] {
    position: absolute;
    top: 45%;
    left: 50%;
    width: $size;
    height: $size;
    border-radius: 50%;

    @for $i from 1 to $ringCount + 1 {
      $dotCount: if($i == 1, 6, ($i + 1) * 4);
      $dotsList: ();

      @for $j from 0 to $dotCount {
        $x: $j * $degStart/$dotCount;
        $offsetX: $i * cos($x) * 1em;
        $offsetY: $i * sin($x) * 1em;
        $dotsList: $dotsList, $offsetX $offsetY $medium-grey;
      }

      &:nth-child(#{$i}) {
        box-shadow: $dotsList;
        animation: rot $i * $speed linear infinite;
      }
      @keyframes rot {
        @include rotation;
      }
      /* Safari and Chrome */
      @-webkit-keyframes rot {
        @include rotation;
      }
    }
  }

  @keyframes rot {
    to {
      transform: rotate(360deg);
    }
  }
}
